@model IEnumerable<NAA.Data.Bean.ApplicationBEAN>

@{
    ViewBag.Title = "Your Applications";
}

<h2>Your Applications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model == null)
{
    <p>No Applications</p>
}
@if (Model != null)
{
<table class="table">
    <tr>
        <th></th>
    </tr>
        @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
}